{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-6 mx-auto mb-3">
        <h2>About</h2>
        <hr />
        <p>
           TaskFlow is a college-centric productivity app that combines a to-do list, timer, alarm, and sticky notes into one seamless experience. More than just a task manager, TaskFlow allows students to share study spots on campus, creating a dynamic community where users can discover new places to study and stay connected. With its clean, universal design, TaskFlow helps students stay organized, track tasks, and engage with their peers—all in one app. Whether it's managing assignments or finding the perfect study location, TaskFlow makes productivity and campus life effortless.
        </p>
        <p>
          You can find the experience of watching movies on the couch, in bed, or in the car.
            With compatability for many devices, watching movies has never been so easy!
            We offer new movies every week, so come back to see what is new!
            We also partner with Georgia Tech classes to offer movies required at a discount!!!
        </p>
      </div>
      <div class="col-md-6 mx-auto mb-3 text-center">
        <img src="{% static 'img/about.jpg' %}" class="max-width-100" alt="about" />
      </div>
    </div>
  </div>
</div>
{% endblock content %}