{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="p-5">
  <div class="container">
      <div class="pageholder">
        <div class="row mt-3">
            <div class="col mx-auto mb-3">
            <h2> More Info for {{location.name}} </h2>
            <hr />
            </div>
        </div>
        <div class="linkholder">
            <table id="ourtable3" class="myTable m-3">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Spots</th>
                        <th>Time</th>
                        <th>Location</th>
                        <th>Address</th>
                        <th>Zipcode</th>
                        <th>City</th>
                        <th>Country</th>
                        <th>Lat</th>
                        <th>Lng</th>
                        <th>Place id</th>

                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td> {{location.id}} </td>
                        <td> {{location.name}} </td>
                        <td> {{location.spots}} </td>
                        <td> {{location.time}} </td>
                        <td> {{location.location}} </td>
                        <td> {{location.address}} </td>
                        <td> {{location.zipcode}} </td>
                        <td> {{location.city}} </td>
                        <td> {{location.country}} </td>
                        <td> {{lat}} </td>
                        <td> {{lng}} </td>
                        <td> {{place_id}} </td>

                    </tr>
                </tbody>
            </table>
     </div>
  </div>
</div>
</div>
{% endblock content %}